
<p>
  <strong>Placa:</strong>
  <%= @carro.placa %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @carro.modelo %>
</p>

<p>
  <strong>Color:</strong>
  <%= @carro.color %>
</p>

<%= link_to 'Edit', edit_persona_carro_path(@persona, @carro) %> |
<%= link_to 'Todos los carros', persona_carros_path(@persona) %> |
<%= link_to "Eliminar", persona_carro_path(@persona, @carro), method: :delete, data: {confirm: "Ojo!!"} %>
